:root {
    --blue1: #EDF9FC;
    --blue2: #D1F4FA;
    --blue3: #53CDE2;
    --black: #333333;
    --white: #FFFFFF;
    --success: #99FF99;
    --fail: #990000;
    --font1: "roboto";
    --font2: "montserrat";
}

/*Font*/
@font-face {
    font-family: 'roboto';
    src: url('font/roboto.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat';
    src: url('font/montserrat.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 577px){
    body {
        margin: 0;
        padding: 0;
        font-family: var(--font1);
        font-size: 16px;
        color: var(--black);
    }

    .navbar{
        background-color: var(--blue2) !important;
        padding: 20px 0;
    }

    .navbar-nav{
        font-family: var(--font2);
        font-size: 18px;
    }

    .nav-custom
    {
        margin-right : 30px;
        font-weight : bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .nav-link
    {
        margin: 0 10px;
        padding: 10px 20px;
        position: relative;
        transition: all 0.2s;
        transition-delay: 0.2s;
        color: var(--white);
        background-color: var(--blue3);
    }

    .nav-link::before
    {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--black);
        transition: all 0.6s;
    }

    .nav-link:hover::before
    {
        bottom: 40px;
        background: transparent;
    }

    .nav-link:hover, .nav-link.active
    {
        background-color: var(--blue1);
        color: var(--blue3) !important;
    }

    .head{
        background-image: linear-gradient(180deg, var(--blue2), var(--blue3));
    }

    .head img{
        width: 400px !important;
        margin-bottom: 48px;
    }

    .content{
        position:relative;
        top:-20px;
        background-color: var(--white);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        overflow: auto;
    }

    .title-one, .title-two{
        font-family: var(--font2);
        font-weight:bold;
        text-align:center;
        margin-top: 30px;
    }

    .title-two{
        font-size: 20px;
    }

    .box-content{
        background-color: var(--blue1);
        border-radius: 10px;
        padding: 20px;
        text-align: justify;
        margin: 20px auto;
        font-size: 18px;
        width: 1000px;
    }

    .padding-content{
        padding: 90px !important;
    }

    .padding-content2{
        padding: 50px !important;
    }

    .box-content.important{
        background-color: var(--blue2);
    }

    .box-content.success{
        background-color: var(--success);
        font-weight:bold;
    }

    .box-content.fail{
        background-color: var(--fail);
        font-weight:bold;
    }

    .box-content img{
        width: 300px;
    }

    .box-content.icon-tips{
        width:auto !important;
    }

    .box-content.icon-tips img{
        width:100px !important;
    }

    .item-number{
        font-size: 100px;
        text-align: center;
        color: var(--blue3);
    }

    .icon-detection{
        width: 100px !important;
    }

    #menu img{
        width: 500px !important;
    }

    form{
        width: 1000px;
        margin: 20px auto;
    }

    .img-tips{
        height: 112.27px !important;
        line-height: 112.27px !important;
    }

}

@media (max-width: 576px){
    body {
        margin: 0;
        padding: 0;
        font-family: 'roboto';
        font-size: 14px;
        color: var(--black);
    }

    /* NAVBAR */
    .navbar {
        background-color: var(--blue2);
        margin: 0 auto;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 15px 0;
    }

    .navbar .nav-item .nav-link {
        color: var(--white);
        font-size: 25px;
        background-color: var(--blue3);
        border-radius: 10px;
        width: 50px;
        margin: 0 auto !important;
    }

    .main-menu{
        position: absolute;
        top: -20px;
        font-size:30px !important;
    }

    .navbar .nav-item .nav-link:hover,
    .navbar .nav-item .nav-link.active {
        color: var(--blue3);
        background-color: var(--blue1);
    }

    .head{
        background-image:url('../image/bg-head.png');
        background-size: cover;
        height: 220px;
    }

    .content{
        position:relative;
        top:-20px;
        height: 460px;
        background-color: var(--white);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        overflow: auto;
    }

    .title-one{
        font-family: var(--font2);
        font-weight:bold;
        text-align:center;
        margin-top: 20px;
    }

    .title-two{
        font-family: var(--font2);
        font-weight:bold;
        text-align:left;
        margin-top: 20px;
    }

    .box-content{
        background-color: var(--blue1);
        border-radius: 10px;
        padding: 10px;
        text-align: justify;
        margin: 20px 0;
    }

    .box-content.important{
        background-color: var(--blue2);
    }

    .box-content.success{
        background-color: var(--success);
        font-weight:bold;
    }

    .box-content.fail{
        background-color: var(--fail);
        font-weight:bold;
    }

    .item-number{
        font-size: 60px;
        text-align: center;
        color: var(--blue3);
    }
}