<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Drowsiness Detection App</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://kit.fontawesome.com/1d7a98a84b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light d-none d-sm-block">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link nav-custom" href="{{ url_for('index') }}"><i class="fa-solid fa-house"></i> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-custom" href="{{ url_for('guideapp') }}"><i class="fa-solid fa-list"></i> How To Use</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-custom" href="{{ url_for('detection') }}"><i class="fa-solid fa-circle-dot"></i> Detection</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-custom" href="{{ url_for('punishment') }}"><i class="fa-solid fa-gavel"></i> Punishment</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-custom" href="{{ url_for('tips') }}"><i class="fa-solid fa-lightbulb"></i> Tips</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="head">
      <div class="text-center">
        {% block headimg %}

        {% endblock %}
        </div>
    </div>

    <div class="container">
      <nav class="navbar navbar-dark navbar-expand d-md-none d-lg-none d-xl-none fixed-bottom" id="navbar-footer">
        <ul class="navbar-nav nav-justified w-100 mx-4">
          <li class="nav-item">
            <a href="{{ url_for('index') }}" class="nav-link"><i class="fa-solid fa-house"></i></a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('guideapp') }}" class="nav-link"><i class="fa-solid fa-list"></i></a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('detection') }}" class="nav-link main-menu" style="margin-left: 6px !important;"><i class="fa-solid fa-circle-dot"></i></a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('punishment') }}" class="nav-link"><i class="fa-solid fa-gavel"></i></a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('tips') }}" class="nav-link"><i class="fa-solid fa-lightbulb"></i></a>
          </li>
          </ul>
      </nav>
    </div>

    <div class="content">
        {% block content %}

        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{{url_for('static', filename='js/script.js')}}" ></script>
  </body>
</html>