{% extends 'base.html' %}

{% block headimg %}
    <img class="mt-5" src="{{ url_for('static', filename='image/choose-file.png') }}" width="300">
{% endblock %}

{% block content %}
    <div class="container">
        <div id="menu">
            {% if predict == 'notdrowsy' %}
                <div>
                    <h6 class="title-two">Hasil Prediksi</h6>
                    <div class="box-content success">
                        Kamu tidak mengantuk. <br> Silahkan berkendara dengan baik.
                    </div>
                </div>
            {% elif predict == 'drowsy' %}
                <div>
                    <h6 class="title-two">Hasil Prediksi</h6>
                    <div class="box-content fail">
                        Kamu mengantuk. <br> Silahkan istirahat dahulu.
                    </div>
                </div>
            {% else %}
                <div class="text-center">
                    <img src="{{ url_for('static', filename='image/not-found.png') }}" width="300">
                </div>
            {% endif %}

        </div>
        <h6 class="title-two">Pilih Menu</h6>
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="box-content text-center" style="margin:10px 0;" id="realtime">
                    <div style="height: 105px; line-height: 105px;">
                        <img src="{{ url_for('static', filename='image/camera.png') }}" width="100">
                    </div>
                    <p class="fw-bold" style="margin: 10px 0 !important;">REALTIME</p>
                </div>
            </div>
            <div class="col-5">
                <div class="box-content text-center" style="margin:10px 0 30px;" id="input">
                    <div style="height: 105px; line-height: 105px;">
                        <img src="{{ url_for('static', filename='image/input.png') }}" width="100">
                    </div>
                    <p class="fw-bold" style="margin: 10px 0 !important;">INPUT GAMBAR</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
