{% extends 'base.html' %}

{% block headimg %}
    <img class="mt-4" src="{{ url_for('static', filename='image/use.png') }}" width="300">
{% endblock %}

{% block content %}
    <div class="container">
        <h6 class="title-two">Cara Menggunakan Aplikasi</h6>
        <div class="box-content">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h1 class="item-number">01</h1>
                </div>
                <div class="col-8">
                    Saat aplikasi sudah terbuka, pilih menu <i class="fa-solid fa-circle-dot"></i>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="row">
                <div class="col-8">
                    Kamu akan melihat dua menu pilihan, input gambar atau realtime.
                </div>
                <div class="col-4">
                    <h1 class="item-number">02</h1>
                </div>
            </div>
        </div>
        <div class="box-content">
            <div class="row justify-content-center">
                <div class="col-4">
                    <h1 class="item-number">03</h1>
                </div>
                <div class="col-8">
                    Pilih menu input gambar jika hanya ingin melihat kamu mengantuk atau tidak. Pilih menu realtime jika ingin mendeteksi secara langsung
                </div>
            </div>
        </div>
    </div>
{% endblock %}
