{% extends 'base.html' %}

{% block headimg %}
    <img class="mt-4" src="{{ url_for('static', filename='image/punishment.png') }}" width="200">
{% endblock %}

{% block content %}
    <div class="container">
        <h6 class="title-two">Hukuman berkendara mengantuk</h6>
        <div class="box-content">
            Dalam pasal 106 ayat (1) UU Nomor 22 Tahun 2009  yang mengatur tata cara berlalu lintas menyatakan bahwa setiap orang yang mengemudikan kendaraan bermotor di jalan, wajib mengemudikan kendaraannya dengan wajar dan penuh konsentrasi.
        </div>
        <div class="box-content">
            Penjelasan penuh konsentrasi, adalah orang yang mengemudikan kendaraan bermotor dengan penuh perhatian dan tidak terganggu perhatiannya termasuk karena mengantuk
        </div>
        <div class="box-content important">
            Pelanggaran terhadap pasal 106 ayat (1) ketentuan pidananya diatur dalam Pasal 283 UU Nomor 22 Tahun 2009. Berbunyi, "Setiap orang yang mengemudikan kendaraan bermotor di jalan secara tidak wajar dan melakukan kegiatan lain atau dipengaruhi oleh suatu keadaan yang mengakibatkan gangguan konsentrasi dalam mengemudikan di jalan sebagaimana dimaksud dalam Pasal 106 ayat (1), dipidana dengan pidana kurungan paling lama 3 bulan atau denda paling banyak Rp 750 ribu".
        </div>
    </div>
{% endblock %}
