{% extends 'base.html' %}

{% block headimg %}
    <img class="mt-4" src="{{ url_for('static', filename='image/tips.png') }}" width="200">
{% endblock %}

{% block content %}
    <div class="container">
        <h6 class="title-two">Tips sebelum berkendara</h6>
        <div class="row justify-content-center">
            <div class="col-5">
                <div class="box-content text-center" style="margin:10px 0;">
                    <img src="{{ url_for('static', filename='image/coffee.png') }}" width="50">
                    <p class="fw-bold" style="margin: 10px 0 !important;">MINUM KOPI</p>
                </div>
            </div>
            <div class="col-5">
                <div class="box-content text-center" style="margin:10px 0;" >
                    <div style="height: 57px; line-height: 57px;">
                        <img src="{{ url_for('static', filename='image/radio.png') }}" width="50">
                    </div>
                    <p class="fw-bold" style="margin: 10px 0 !important;">DENGAR RADIO</p>
                </div>
            </div>
            <div class="col-5">
                <div class="box-content text-center" style="margin:10px 0;">
                    <div style="height: 57px; line-height: 57px;">
                        <img src="{{ url_for('static', filename='image/sleep.png') }}" width="50">
                    </div>
                    <p class="fw-bold" style="margin: 10px 0 !important;">TIDUR DAHULU</p>
                </div>
            </div>
            <div class="col-5">
                <div class="box-content text-center" style="margin:10px 0;">
                    <div style="height: 57px; line-height: 57px;">
                        <img src="{{ url_for('static', filename='image/otot.png') }}" width="50">
                    </div>
                    <p class="fw-bold" style="margin: 10px 0 !important;">PEREGANGAN</p>
                </div>
            </div>
            <div class="col-5">
                <div class="box-content text-center" style="margin:10px 0;">
                    <div style="height: 57px; line-height: 57px;">
                        <img src="{{ url_for('static', filename='image/medicine.png') }}" width="50">
                    </div>
                    <p class="fw-bold" style="margin: 10px 0 !important;">CEGAH OBAT</p>
                </div>
            </div>
            <div class="col-5">
                <div class="box-content text-center" style="margin:10px 0 30px;">
                    <div style="height: 57px; line-height: 57px;">
                        <img src="{{ url_for('static', filename='image/friend.png') }}" width="50">
                    </div>
                    <p class="fw-bold" style="margin: 10px 0 !important;">SAMA TEMAN</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
